<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/ok.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>This template works</h1>
   
     <form action="" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
       {{form.as_p}}
        <input type="submit" value="submit">
      </form>
      <br> <br>
      <h2> show employees Information</h2>
      {% if show%}
       <h4> table data</h4>
       
        <div class='profilebox'>
          {% for sh in show %} 
         <div class='profileeach'>
          <div><img style='width:10rem;' src="/media/{{sh.photo}}"></div>

                <div>{{sh.name}}</div>
                <div>{{sh.email}}</div>
                <div style='display:flex;justify-content:space-around'>
                  <form action="{% url 'updatedata' sh.id %}  " method="post"> {% csrf_token %}
                    <input type="submit" value="update"> </form>
                  <!-- <a href="{% url 'updatedata'  sh.id %} ">Edit</a> -->
                  <form action="{% url 'deletedata' sh.id %}  " method="post"> {% csrf_token %}
                    <input type="submit" value="Delete">
                  </form>
                </div>
                
              
          

         </div>

          {% endfor %}
        </div>
      {% else %} 
       <h4> No data</h4>

      {%endif%}
       
</body>
</html>